@import "theme-settings";
@import "foundation6";
@import 'font-awesome';

/* Demo Site Styles */
.top-bar {
  padding: 1rem;
}

.top-bar, .top-bar ul {
  background-color: #121212;

  #main-menu {
    li > a {
      color: #ddd;

      &:hover, &:focus {
        color: #fff;
      }
    }

    .active > a {
      background: #232323;
      color: #fff;
      font-weight: bold;
    }
  }
}

.top-bar-title {
  padding: 0;
  margin-right: 25px;
  padding-right: 15px;
  border-right: 1px solid #444;

  .logo img {
    width: 38px;
    height: auto;
  }
}

.offcanvas-logo {
  padding: 10px;

  a {
    outline: 0;
  }

  img {
    width: 30px;
    height: auto;
  }
}

.title-bar-left .title-bar-title img {
  width: 30px;
  height: auto;
}

#footer {
  .credit {
    color: $dark-gray;
  }
}

.btn {
  @extend .button;
}

.callout.secondary {
  color: #666;
}

/* If you want to use the offcanvas menu you need this css block */
.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}
/* - */
/* Demo Site Styles End */